<section class="page-title">
  <h1>All the Collections</h1>
</section>
<section class="quicknav-content">
  <%= link_to 'artwork', artworks_path, method: :get %>
</section>
<br>
<section class="collections-layout">
    <section class="collection-types">
      <% @collections.each do |collection| %>
        <section class="collection">
          <section class="collection-title">
            <%= link_to "#{collection}", collection_path, method: :get %>
          </section>
          <% @artworks.each do |artwork| %>
            <% if artwork.collection == collection %>
              <%= image_tag(artwork.image) %>
            <% end  %>
          <% end  %>
        </section>
      <% end %>
      <br>
    </section>
</section>
