<section class="page-title">
  <h1>All the Collections</h1>
</section>
<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %> / <%= link_to 'artwork', artworks_path, method: :get %>
</div>

<div class="collections-layout">
  <section class='collection-row'>
    <section class="collection-types">
      <% @collections.each do |collection| %>
        <% if !collection.artworks.empty?%>
          <section class="collection-column">
            <section class="collection-card">
              <section class="collection-title">
                <p><%= link_to "#{collection.name}", "/collections/#{collection.id}", method: :get %></p>
              </section>
              <section class="artwork-collections">
                <section class="artwork-collections-column">
                  <% collection.artworks.each do |artwork| %>
                  <section class="collection-artwork-card">
                    <%= image_tag(artwork.image, style: 'height:10%;width:10%') %>
                  </section>
                </section>
                  <% end  %>
              </section>
            </section>
          </section>
        <% end %>
    </section>
      <% end %>
      <br>
  </section>
</div>
