<h1>FLASH</h1>
<div class="flash-message">
  <h4>You are about to delete a workshop. Are you sure you want to do that?</h4>

  <%= button_to 'Yes, Delete Contact', "/admin/classrooms/#{@classroom.id}", method: :delete  %>
  <%= button_to 'Oops, Good catch!', "/admin/classrooms", method: :get   %>
</div>
