<h1><%= @user.name %></h1>
<section id='navigation-links-individual'>
  <%= link_to 'Edit', '/profile/edit' %>
  <%= link_to 'Change Password', '/profile/edit_password' %>
  <%= link_to 'My Orders', '/profile/orders' %>
</section>

  <h3>My Artworks: none have been purchased, yet!</h3>
  <h3>My Workshops: none have been purchased, yet!</h3>
  <h3>My Garments: none have been purchased, yet!</h3>
