<h1>Karin Soderholm</h1>



<p><%= button_to 'Artworks', artworks_path, method: :get %></p>
<p><%= button_to 'Garments', clothings_path, method: :get  %></p>
<p><%= button_to 'Workshops', classrooms_path, method: :get  %></p>
