<section class="page-title">
  <h1>Behind the Scences at Quiet Joy Studio</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>  /  <%= link_to 'contact the maker', '/about/1/contact' %> / <%= link_to 'commission a blooming map', new_commission_blooming_map_path %>
</div>


<section class="maker-image">

</section>

<section class="maker-bio">
  <h3>Meet the maker at Quiet Joy Studio</h3>
</section>

<section class="maker-history">
  <h3>Karin's Journey</h3>
</section>
