<section class="page-title">
  <h1>Karin's CV</h1>
</section>
<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>  /  <%= link_to 'about the maker', '/about/1/bio' %> /  <%= link_to 'contact the maker', '/about/1/contact' %>
</div>
