<section class="page-title">
  <h1>FAQ</h1>
</section>
<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>  /  <%= link_to 'about the maker', '/about/1/bio' %> /  <%= link_to 'contact the maker', '/about/1/contact' %> / <%= link_to 'CV', '/about/1/cv' %> 
</div>
