<section class="page-title">
  <h1>All Student Works</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %> / <%= link_to 'art', artworks_path %> / <%= link_to 'objects', physical_object_collections_path %> / <%= link_to 'workshops', classrooms_path %>
</div>
